<p>Please enter your security code from Google Authenticator</p>

<%= form_for :user_session, :url => {:action => :validate}, :html => {:method => :put} do |f| %>
  <%= f.text_field :validation_code %>
  <%= f.submit 'Validate' %>
<% end %>
